*{
    padding: 0;
    margin: 0;
    text-align: center;
    justify-content: center;

}

header, article, footer, section{
    margin: 5px;
    border: 2px solid pink;
}
div, nav, main{
    margin: 5px;
    border: 1px solid palevioletred;
    display: flex;
    align-items: center;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
header{
    flex: 0.08 1 auto;
    display: flex;
    flex-direction: row;
}
#pic{
    flex: 0.2 1 auto;
}
#name{
    flex: 0.6 1 auto;
}
article{
    flex: 0.02 1 auto;
    align-items: center;
    display: flex;
    justify-content: space-around;
}
section{
    flex: 0.8 1 auto;
    display: flex;
}
nav{
    flex: 0.3 1 auto;
}
main{
    flex:0.7 1 auto;
}
footer{
    flex: 0.1 1 auto;
}
