img{
    width: 100px;
    display:inline-block;
    margin: 5px;
}

div{
    display: inline-block;
    vertical-align: top;
    padding: 19px 15px;
}

span{
    color:red;
    font-weight: bold;
}

section{
    border: 2px ridge black;
    margin: 8px;
}

section:hover{
    background-color: orange;
    color:white;
}