
header{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    flex-direction: row;
    font-size: 40px;

}
img{
    height: 70px;
}

.about_us{
    height: 70px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}
a{
    margin: 0;
}