@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --violet: #6A0DAD;
    --white: #FFF;
    --lilu: rgb(247, 5, 144);
    --font-light: 300;
    --font-large: 800;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

header {
    height: 120px;
    background: var(--violet);
    display: flex;
    justify-content: space-evenly;
}

section {
    font-weight: var(--font-large);
    font-size: 24px;
    color: var(--white);
    display: flex;
    align-items: center;
    gap: 17px;
    text-shadow: 1px 1px 1px var(--lilu);
}

nav,
ul {
    display: flex;
    align-items: center;
    gap: 41px;
}


li {
    list-style-type: none;
}

.submenu {
    position: absolute;
    visibility: hidden;
    top: 75px;
    flex-direction: column;
    background-color: var(--violet);
    padding: 10px;
    transform: perspective(9000px) rotateX(-90deg);
    transform-origin: 0% 0%;
    transition: .3s ease-in-out;
}

.allnav>li:hover .submenu {
    visibility: visible;
    transform: perspective(900px) rotateX(0deg);
    transition: .3s ease-in-out;
}

a {
    font-weight: var(--font-light);
    font-size: 18px;
    display: flex;
    align-items: center;
    color: var(--white);
    text-decoration: none;
}

figure {
    display: flex;
    align-items: center;
    gap: 15px;
}

.phone {
    font-weight: var(--font-large);
    font-size: 18px;
    color: var(--white);
}

.info {
    font-weight: var(--font-light);
    font-size: 12px;
    color: var(--white);
}

.mainframe {
    height: 680px;
    background-color: var(--violet);
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    color: var(--white);
    width: 550px;
}

.text>h3 {
    font-size: 48px;
    text-align: center;
    margin-bottom: 10px;
}

.text>p {
    font-size: 24px;
    font-weight: var(--font-light);
}

.button {
    width: 50%;
    margin: 20px auto 0px;
    background-color: var(--lilu);
    padding: 20px;
    text-align: center;
    font-size: 21px;
    font-weight: var(--font-light);
    transition: .3s ease-in-out;
}

.button:hover {
    padding: 25px;
    transition: .3s ease-in-out;
    border-radius: 10px;
    font-size: 24px;
}

.bro {
    z-index: 10;
}

.fon {
    position: absolute;
    z-index: 9;
    left: 49%;
    width: 57%;
    object-fit: cover;
}

image{
    width: 100%;
    height: 100%;
}

body {
    overflow-x: hidden;
}

.numbers{
    height: 317px;
    background-color: var(--lilu);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color:var(--white);
    text-align: center;
}

.numbers>div>h2 {
    font-size: 60px;
    font-weight: var(--font-large);
}

.numbers>div>p{
    font-size: 21px;
    font-weight: var(--font-light);
}

.gallery>h2, .card_cont>h2{
    text-align: center;
    margin: 50px;
}

.pics{
    display: flex;
    flex-wrap: wrap;
}

.pics>img{
    height: 444px;
    width: 444px;
    margin: 5px;
    border-radius: 20px;
    flex: 1 0 auto;
}

.cards{
    height: 691px;
    display: flex;
    justify-content: center;
}

.card{
    display: flex;
    flex-direction: column;
    width: 380px;
}

.card>figcaption>h4{
    font-size: 24px;
    font-weight: var(--font-large);
    color:var(--violet);
    text-align: center;
    margin: 10px;
}

.card>figcaption>p{
    font-size: 16px;
    font-weight: var(--font-light);
    text-align: center;
    margin: 10px;
}

.feedback{
    height: 594px;
    display: flex;
    justify-content: center;
    align-items: center;
}

fieldset{
    height: 394px;
    width: 934px;
    border: 4px solid var(--violet);
    display:flex;
    flex-direction: column;
    justify-content: center;
    
}

fieldset>h2{
    text-align: center;
    font-weight: var(--font-large);
}
fieldset>p{
    text-align: center;
    font-weight: var(--font-light);
}

.data{
    display: flex;
    justify-content: center;
    gap:20px;
    padding: 20px;
}

.data>input{
    padding:20px;
    border-radius: 10px;
    border:none;
    box-shadow: 0px 0px 4px gray;
    width: 150px;
}


input[type="button"]{
    color:var(--white);
    background-color: var(--violet);
}

.check{
    display: flex;
    justify-content: center;
    font-size: 12px;
    gap:5px;
}

footer{
    height: 474px;
    background-color: var(--violet);
    display: flex;
}

.footer_info{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.code_logo{
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.code_info{
    width: 25%;
    color: var(--white);
}

.code_info>h2{
    font-size: 36px;
    font-weight: var(--font-large);
    margin: 10px;
    text-align: center;
}

.code_info>p{
    font-size: 16px;
    font-weight: var(--font-light);
    margin: 10px;
    text-align: justify;
}

.links{
    display: flex;
    flex-direction: column;
    width: 65%;
    justify-content: space-evenly;
    color:var(--white);

}

.links-data{
    display: flex;
    gap:20px;
}
.links-networks>h2{
    text-align: center;
}
.links-networks>div{
    display: flex;
    justify-content: center;
}
.links-networks>div>a>img{
    width: 50px;
    padding: 10px;
}

.links-data>div>h2{
    font-size: 18px;
    font-weight: var(--font-large);
    padding: 15px;
}
.links-data>div>p{
    font-size: 14x;
    font-weight: var(--font-light);
    padding: 10px;
}